.report-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: white;
  max-height: 100vh;         /* Allow vertical scroll within viewport */
  overflow-y: auto;          /* Enable vertical scrolling */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.report-container::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}


.report-container h1 {
  margin: 0 auto;
  text-align: center;
  flex: 1;
  margin-bottom: 70px;
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.report-table h2 {
 margin: 0 auto;
  text-align: center;
  flex: 1;
  margin-bottom: 40px;
  font-size: 25px;
}

.report-button {
  background-color: #17002f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.report-button:hover {
  background-color: #eae3f1;
  color: #17002f;
}

.report-table {
  border: 2px solid #17002f;
  padding: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid #17002f;
  padding: 8px;
  font-size: 14px;
}

th {
  background-color: #f7efff;
}

.chart-section {
  margin-top: 40px;
  padding: 20px 0;
}
h2{
  text-align: center;
  margin-bottom: 2rem;
}
.chart-section h3 {
  text-align: left;
  margin-bottom: 50px;
  font-size: 18px;
  color: #17002f;
}

/* Optional: make chart responsive for PDF too */
.recharts-wrapper {
  margin: 0 auto;
  width: 70%;
}

@media print {
  .report-table {
    overflow: visible !important;
    height: auto !important;
  }
}
.report-container {
  padding: 40px;
  background: #f9f9f9;
  min-height: 100vh;
}

.report-bar-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  text-align: center;
}
.report-button {
  margin: 20px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.student-graph-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.student-graph-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.register-number {
  margin-top: 10px;
  font-weight: 600;
  color: #333;
  font-size: 16px;
}
.performance-cell {
  font-weight: bold;
}

.performance-Excellent {
  color: green;
}

.performance-Good {
  color: #0000ef;
}

.performance-Average {
  color: orange;
}

.performance-At-Risk {
  color: #ef0000;
}
