/* SignIn.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signin-container {
  background: #1f2a44;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.signin-card {
  width: 800px;
  height: 500px;
  background: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.signin-left {
  flex: 1;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-left img {
  width: 90%;
  height: auto;
}

.signin-right {
  flex: 1;
  padding: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.signin-right h2 {
  margin-bottom: 30px;
  color: #1f2a44;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  margin-bottom: 1.8rem;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  padding-right: 40px;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: white;
  padding: 0 4px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Floating label on focus or when input is filled */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  left: 8px;
  font-size: 0.75rem;
  color: #1f2a44;
}

.password-wrapper .eye-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
  color: #666;
}

/* Error message */
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
  margin-left: 5px;
}

/* Submit button */
form button {
  background-color: #1f2a44;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #31456a;
}


.login-option {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.login-option a {
  color: #243457;
  text-decoration: none;
  font-weight: bold;
}

.login-option a:hover {
  text-decoration: underline;
}