.secs-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f1f0ff;
  font-family: Arial, sans-serif;
}

.secs-sidebar {
  width: 235px;
  background-color: #0d0d2b;
  padding: 2rem;
  color: white;
  border-radius: 1.3rem;
  margin: 1.5rem;
}

.secs-sidebar h2 {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

.secs-sidebar ul {
  list-style: none;
  padding: 0;
}

.secs-sidebar ul li {
  margin-bottom: 20px;
}

.secs-sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.secs-sidebar ul li a:hover,
.secs-sidebar ul li a.active {
  background-color: white;
  color: #0d0d2b;
}

.secs-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.secs-dropdown-wrapper {
  height: 30rem;
  width:40rem;
  background-color: #ffffff;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secs-dropdowns select {
  padding: rem;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 1rem;
}

.secs-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #1f2a40;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 5rem;
  align-self: center;
  margin-top: 1rem;
}

.secs-button:hover {
  background-color: #4040bc;
}

.secs-error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.secs-disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}
