# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# C extensions
*.so

# Virtual environment
venv/
app/env/

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

app/data/mock_student_data.csv

# Cache folder
cache/
# Log files
*.log

.env
